/* Font Imports */
/* Rubik */
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,500&display=swap');
/* DM Sans */
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,200;0,9..40,300;0,9..40,400;0,9..40,500;0,9..40,600;0,9..40,700;1,9..40,200;1,9..40,300;1,9..40,400;1,9..40,600&family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,500&display=swap');

/* Define Variables */
:root {
  --primary-color: #3A86FF;
  --heading-font: 'Rubik', sans-serif;
  --text-font: 'DM Sans', sans-serif;
}

/* Define standard fonts for text */
h1, h2, h3, h4, h5, h6 {
  font-family: var(--heading-font);
}

body, p, span, button, input, textarea {
  font-family: var(--text-font);
}

.heading-font {
  font-family: 'Rubik', sans-serif;
}
.text-font {
  font-family: 'DM Sans', sans-serif;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased ;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
