:root {
    --stop-color-1: #becbe1;
    --stop-color-2: #3833A6;
}

.chevron {
    width: 100%;
    max-height: 50px; /* Adjust based on your needs */
    fill: url(#gradient);
}

.chevron-gradient {
    position: absolute;
    top: 400px;
    height: 200px;
    width: 100vw;
    z-index: 5;
}

.chevron-white {
    position: absolute;
    height: 200px;
    z-index: 3;
    top: 450px;
}

.second-chevron-gradient {
    position: absolute;
    height: 200px;
    top: 500px;
    z-index: 5;
}

/* Define the gradient */
.chevron-gradient stop:first-child {
    stop-color: var(--primary-gradient-color);
}

.chevron-gradient stop:last-child {
    stop-color: var(--primary-color);
}

/* Define the white chevron */
.chevron-white stop:first-child {
    stop-color: #ffffff;
}

.chevron-white stop:last-child {
    stop-color: #ffffff;
}

.main-div {
    display: flex; /* Add this */
    position: absolute;
    background: linear-gradient(to right, var(--primary-color), var(--primary-gradient-color));
    height: 83vh;
    max-width: 100vw;
    top: 550px;
    padding: 0px 150px;
    z-index: 1;
}

.mission-header {
    position: relative;
    top: 20vh;
    margin-right: 5%;
}

.left-column {
    position: relative;
    width: 50%;
}

.slogan {
    position: relative;
    top: 18vh;
    margin-right: 5%;
}

.mission-text {
    position: relative;
    top: 15vh;
    margin-right: 5%;
}

.right-column {
    position: relative;
    width: 50%;
    /* top: -50%; */
}

.logo-1 {
    position: relative;
    top: 8%;
    left: 12%;
    transform: rotate(-30deg);
}

.logo-2 {
    position: relative;
    top: 18%;
    left: 30%;
    /* transform: rotate(30deg); */
}

.logo-3 {
    position: relative;
    top: -24%;
    left: 26%;
    transform: rotate(30deg);
}

