/* Main container for the project section with a gradient background */
.project-main-div {
    position: relative;
    background: linear-gradient(to right, var(--primary-color), var(--primary-gradient-color));
    height: 600px;
    max-width: 100vw;
    z-index: 1;
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
}

/* Styles for the project image */
.project-image {
    height: 100%;
    width:100%;
    object-fit: cover; /* Ensures image covers the entire container */
}

/* Container for the right side of the project section */
.project-right-column {
    position: relative;
    width: 50%;
    display: flex;
    align-items: center; 
    justify-content: center; 
    /* overflow: hidden; */
}

/* Container for the left side of the project section */
.project-left-column {
    width: 50%;
   padding:0 150px;
}

/* Styles for the project description text */
@media screen and (max-width:1120px){
.project-text {
    margin-top:-70px;
}
}
@media screen and (max-width:720px){
    .project-main-div {
        display:block;
        height:500px;
    }
    .project-left-column {
        width: 100%;
        display:flex;
        justify-content:center;
        align-items:center;
        padding:0 15px;
    }
    .project-right-column {
        display:none;
    }
}

/* Subtitle overlay on the project image with blur effect */
.project-image-subtitle {
    position: absolute;
    bottom: 0%;
    left: 0%;
    padding: 50px 50px;
    padding-right: 150px;
    backdrop-filter: blur(15px);
    background-color: rgba(255, 255, 255, 0.6);
    font-size: 20px;
    z-index: 50;
}

/* Styles for the subtitle name */
.project-subtitle-name {
    font-size: 18px;
    color: var(--secondary-text-color);
    margin-top: 10px;
}

/* Define margins for text in left column */
.project-mission-header {
    position: relative;
    top: 100px;
    margin-right: 5%;
}
.project-mission-title {
    position: relative;
    top: 90px;
    margin-right: 5%;
}
.project-mission-text {
    position: relative;
    margin-right: 5%;
    margin-top: 110px;
    /* overflow:hidden; */
}