.faqs-head,.faqs-des{
    text-align: center;
}
.faqs-head span{
    text-transform: uppercase;
    color: #3A86FF;
}
.questions-list{
    /* margin-left: auto; */
    padding: 0 150px;
    margin-top: 25px;
}
.question{
    background-color: #EEF4FF;
    padding: 10px;
    border-radius: 7px;
    box-shadow: 0 2px 1px rgba(128, 128, 128, 0.472);
    margin-bottom: 15px;
}
.question[open] .question-head{
    padding-bottom: 5px;
    border-bottom:0.5px black dashed;
    
}
.question-head{
    font-size: 1.2rem;
    font-weight: bold;
}
.question-des{
    position: relative;
    padding: 10px 0px;
    left: -10%;
}

summary {
    padding: 4px 20px;
}

.question-head {
    font-weight: 400;
}