.faqs-head, .faqs-des {
    text-align: center;
}

.faqs-head span {
    text-transform: uppercase;
    color: #3A86FF;
}

.questions-list {
    padding: 0 150px;
    margin-top: 25px;
}

.question {
    background-color: #EEF4FF;
    padding: 10px;
    border-radius: 7px;
    box-shadow: 0 2px 1px rgba(128, 128, 128, 0.472);
    margin-bottom: 15px;
    transition: all 0.3s ease; /* Smooth transition for background and box-shadow */
}

.question[open] {
    background-color: #FFF; /* Lighter background when open */
    box-shadow: 0 4px 2px rgba(128, 128, 128, 0.472); /* Larger shadow when open */
}

.question[open] .question-head {
    padding-bottom: 5px;
    border-bottom: 0.5px black dashed;
}

.question-head {
    font-size: 1.2rem;
    font-weight: 500;
    cursor: pointer;
}

.question-des {
    padding: 20px 25px;
    text-align: left;
    list-style: none;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease;
    font-size: 17px;
}

details[open] .question-des {
    max-height: 1000px; /* Set a max-height for the open state */
}

summary {
    padding: 4px 25px;
}

.faqs-heading {
    width: 100%;
    text-align: center;
}

.faq-mist-1 {
    position: absolute;
    height: 300px;
    width: 300px;
    left: 300px;
    top: 300px;
    z-index: -1;
}