.features{
    /* position:relative; */
    margin-right: 150px;
    margin-left: 150px;
    /* top: 900px; */
}
.features-head{
    text-align: center;
}

.features-head .title{
    text-transform: capitalize;
}
.features-head .title span{
    color: #3A86FF;
    font-family: var(--heading-font);
}
.features-head .des{
    color: var(--secondary-text-color);
}
.container {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 10px;
    margin-top: 50px;
}
.container .stages .stage{
    text-align: center;
    margin-bottom: 40px;
    cursor:pointer;
    user-select:none;
    margin-right: 40px;
    color: var(--secondary-text-color);
}
.container .stages .stage h3{
    font-size: 2rem;
    font-weight: bold;
}
.container .stages .stage h3 ,.stage p{
margin: 2px ;
}


.active{
    height: 100% !important;
}
.owl-carousel-wrapper{
    background-color: var(--light-background-color);
    width:75%;
    padding: 30px;
    /* text-align:center; */
    border-radius: 25px;
    z-index:10;
    transition:1s ease-in;
    overflow: hidden;
   
}

 .owl-carousel .cards{
    display:grid;
    height:1;
    grid-auto-flow:column;
    grid-auto-columns:calc((100%/3));
    gap: 20px;
    transition:.5s ease-in;
      
}
.none
{
   display:none;  
}
.card{
    background-color:white;
    border-radius:20px;
    padding:25px 25px;  
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}
.card-image{
    display:block;
    width:100%;
    height:45%;
    margin:auto;
    border-radius:10px;
    object-fit:cover;
    margin-bottom: 20px;
}
.card-title{
   font-size:22px;
   font-weight:bold;
   margin-bottom: 0px;
}
.card-description{
   font-size: 14px;
   margin-bottom: 20px;
   color:var(--secondary-text-color);
}

.arrow-icons{
    display:flex;    
    justify-content:center;
    align-items:center;
    z-index: 12;
}
.arrow-right , .arrow-left{
    margin-top: 20px;
    margin-bottom: -10px;
    /* width: 120px; */
    margin-left: 30px;
    margin-right: 30px;
    size:300px;
}
.arrow-right:hover , .arrow-left:hover {
    cursor: pointer;
}

@media screen and (max-width:860px){
    .card {
        padding: 15px 15px;
        max-width: 30%;
        max-height: 100%;
    }
    .card-description {
        /* max-width: 50%; */
    }
    .container {
        justify-content: center;
        
    }
    .container .stages{
        display:none;
    }
    .stage{
        display:block;
        cursor:pointer;
        user-select:none;
    }
    .card-image {
        /* width:50%; */
        /* height: 25%; */
    }
    .owl-carousel-wrapper{
        border-radius:20px;
    }
    .owl-carousel .cards{
        grid-auto-columns:calc((100%/2));

    }

    .features {
        margin-right: 50px;
        margin-left: 50px;
    }
}
@media screen and (max-width:520px){
    .owl-carousel .cards{
        grid-auto-columns:calc((100%));
    }
}