.features{
    position:absolute;
    width:100vw;
    height:70vh;
    z-index:10;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
}

.card{
    width: 460px;
    height: 640px;
    background-color:white;
    border-radius:20px;
    padding:30px 0;  
}
.card-image{
    display:block;
    width:90%;
    height:50%;
    margin:auto;
    
    border-radius:20px;
    /* border:10px solid black; */
    object-fit:cover;
    
}
.card-title{
   margin:2% 10%;
   font-size:3rem;
   font-weight:bold;
}
.card-description{
    margin:2% 10%;
   font-size:1.4rem;
   color:grey;
}