.bg {
	/* margin-top: 50px; */
	background: url("../../assets/arrow_bg.png") top/cover;
	background-size: 100% 100%;
	margin-bottom: 50px;
}

.team-component {
	min-height: 3500px;
	text-align: center;
	/* overflow: hidden; */
	/* height: auto; */
	width: 100%;
	margin-block: 100px;
	margin-top: 100px;
}

.text-component h5,
h2 {
	margin: 0;
	padding: 0;
}

p {
	max-width: 800px;
	margin: auto;
	opacity: 0.7;
}

h5 {
	font-size: 22px;
	margin: 15px;
}

.heading span {
	color: #3a86ff;
}

.head-title {
	width: 100%;
	text-align: center;
	margin-bottom: 50px;
}

.team-cards {
	width: 90vw;
	/* max-width: 950px; */
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 30px;
	margin: auto;
}

.team-cards img {
	width: 100%;
	max-width: 100px;
}

.team-card {
	padding: 10px;
	padding-block: 50px;
	margin: 10px;
	display: grid;
	place-items: center;
	min-width: 280px;
	border-radius: 20px;
	background: rgba(255, 255, 255, 0.7);
	box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
	backdrop-filter: blur(25px);
	/* max-width: 150px; */
}

.join-team-section {
	width: 100vw;
	border-top: 2px solid #F2F7FF;
	border-bottom: 2px solid #F2F7FF;
	padding: 25px 0px;
}

.join-team-section p {
	margin-bottom: 20px;
}

.join-team-button {
	position: relative;
	top: 1500px;
}