/* Main Navbar Styling */

/* Styling for the navbar container */
nav {
  display: inline-grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: 1fr;
  border-radius: 0px 0px 5px 5px;
  background-color: rgba(255, 255, 255, 0.78); /* Semi-transparent background */
  backdrop-filter: blur(12px); /* Blurs the content behind the navbar */
  width: fit-content;
  position: relative;
  padding-top: 10px;
  top: -10px;
  box-shadow: 0 0 10px 0 #ddd; /* Light shadow for the navbar */
}

/* General styling for the navigation links */
nav > a {
  font-size: 16px;
  font-weight: 600;
  text-decoration: none;
  color: #0C1B33;
  padding: 15px 20px 10px;
  border-radius: 5px;
  margin-bottom: 5px;
  text-align: center;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  transition: color 0.2s ease, margin-bottom 0.2s ease, border-bottom 0.2s ease;
}

/* Styling for hovering over a navigation link */
nav > a:hover {
  color: #3A86FF;
  transition: color 0.2s ease, margin-bottom 0.2s ease, border-bottom 0.2s ease;
}

/* Styling for the active navigation link */
nav > a.activeNavLink {
  color: #3A86FF;
  margin-bottom: 0;
  border-bottom: solid 5px #3A86FF; /* Highlight bottom border for the active link */
}